<p>ID: {{id}}</p>

<form method="POST" action="/alterar-livro">
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" name="nome" value="{{nome}}"><p>
    <input type="submit" value="Alterar">    
</form>