<form method="POST" action="/adicionarItem">
    <input type="text" name="nome" placeholder="Nome"><p>
    <input type="text" name="idade" placeholder="Idade"><p>
    <input type="submit" value="Adicionar">    
</form>