<div class="secao1">
    <div id="inserir-cpf">
        <form method="post" action="\inserir-cpf">
            <input type="text" class="campo" name="num_sql" placeholder="Numero Sequencial"><br>
            <input type="text" class="campo" name="cpf" placeholder="CPF"><br>
            <input type="text" class="campo" name="text_atz" placeholder="Texto da Autorização"><br>
            <input type="text" class="campo" name="data_vld" placeholder="Data da Validação"><br>
            <input type="text" class="campo" name="num_marc" placeholder="Numero de Marcação"><br>
            <input type="submit" class="botao" value="Enviar">
        </form>
    </div>

    <div>
        <p>{{msg}}</p>
    </div>
</div>

<div class="secao1">
    <div id="inserir-cpf">
        <form method="post" action="\inserir-estado">
            <input type="text" class="campo" name="num_sql" placeholder="Numero Sequencial"><br>
            <input type="text" class="campo" name="estado_atz" placeholder="Estado da Autorização"><br>
            <input type="text" class="campo" name="data_est" placeholder="Data do Estado"><br>
            <input type="submit" class="botao" value="Enviar">
        </form>
    </div>

    <div>
        <p>{{msg1}}</p>
    </div>
</div>

<div class="secao1">
    <div id="inserir-cpf">
        <form method="post" action="\inserir-recurso">
            <input type="text" class="campo" name="num_sql" placeholder="Numero Sequencial"><br>
            <input type="text" class="campo" name="tipo_rcs" placeholder="Tipo do Recurso"><br>
            <input type="text" class="campo" name="data_vrf" placeholder="Data da Verificação"><br>
            <input type="submit" class="botao" value="Enviar">
        </form>
    </div>

    <div>
        <p>{{msg2}}</p>
    </div>
</div>

