<html lang="pt-br">
	<head>
		<meta charset="uft-8">
		<link rel="stylesheet" type="text/css" href="css/styleLogin.css"/>
        <link rel="icon" href="imagens/bb-logo-branco.png">
        <title>Login BBomberman</title>
	</head>
	
	<body>
		<div id="tudo">
			<section id="formulario">
				
				<form method="post" action="/verificaUser"> 
					<p class="titulo">Log In BBomberman</p>
					<input class="campo" name="usuario" type="text" placeholder="Username"><br>
					<input class="campo" name="senha" type="password" placeholder="Password"><br>
					<input class="botao" type="submit" value="ACESSAR">
					<p>{{msg}}</p>
				</form>
				
			</section>
			
			<section id="visual">
				
				<img src="imagens/bancodobrasil.png" alt="logo">
				
			</section>
		</div>
	</body>
</html>