<script src="js/velha.js"></script>
<div class="secao1">

<div id="velha-corpo">
    <section id="jogo-da-velha">
        <div id="linha1">
            <div class="bloco" onclick="bloco1()">
                <div id="bloco1"></div>
            </div>

            <div class="bloco" onclick="bloco2()">
                <div id="bloco2"></div>
            </div>

            <div class="bloco" onclick="bloco3()">
                <div id="bloco3"></div>
            </div>
        </div>

        <div id="linha2">
            <div class="bloco" onclick="bloco4()">
                <div id="bloco4"></div>
            </div>

            <div class="bloco" onclick="bloco5()">
                <div id="bloco5"></div>
            </div>

            <div class="bloco" onclick="bloco6()">
                <div id="bloco6"></div>
            </div>
        </div>

        <div id="linha3">
            <div class="bloco" onclick="bloco7()">
                <div id="bloco7"></div>
            </div>

            <div class="bloco" onclick="bloco8()">
                <div id="bloco8"></div>
            </div>

            <div class="bloco" onclick="bloco9()">
                <div id="bloco9"></div>
            </div>
        </div>


    </section>

    <div id="recarregar">
        <a href="/velha">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path
                    d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                <path fill-rule="evenodd"
                    d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
            </svg>
        </a>
    </div>
    </div>

</div>