<p>ID: {{id}}</p>

<form method="POST" action="/alterar-pessoa">
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" name="nome" value="{{nome}}"><br>
    <input type="text" name="idade" value="{{idade}}"><p>
    <input type="submit" value="Alterar">    
</form>