<form method="POST" action="/adicionar-item-passaro">
    <input type="text" name="nome" placeholder="Nome"><p>
    <input type="text" name="autor" placeholder="Autor"><p>
    <input type="text" name="preco" placeholder="Preço"><p></p>
    <input type="submit" value="Adicionar">    
</form>